{% if site.social_icons["Twitter"] %}
  {% assign profile = site.social_icons["Twitter"] %}

  <center>
    <p style="margin: 0 0 0 0;">Liked this post?</p>
    <p style="margin: 0 0 0 0;">Have questions? Suggestions?</p>
    <p style="margin: 0 0 20px 0;"><b>Follow me on Twitter and let's engage in a conversation</b></p>

    <a href="https://twitter.com/{{ profile }}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">
      Follow @{{ profile }}
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </center>
{% endif %}