$bg-color: #444444;
$body-bg-color: #222222;
$search-bg: #555555;
$input-bg: #dddddd;
$body-color: #cccccc;
$sub-body-color: #999999;
$buy-me-a-coffee-bg: #666666;

.switch {
  position: fixed;
  top: 1px;
  right: 1px;
  z-index: 100; // Make sure the dark mode toggle isn't overlapped by header on small screens
}

.inner-switch {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  padding: 0.2875rem;
  margin-right: 1rem;
  border-bottom: none;
}

html.dark-mode {
  body {
    color: $body-color;
    background-color: $body-bg-color;
  }

  blockquote {
    color: $sub-body-color;
  }

  a, a:hover, .post-title, .post-title-link {
    color: $body-color;
  }

  .post-category a,
  .post-body a:hover,
  .posts-expand a:hover, 
  .post-title-link:before,
  .menu-item a:hover,
  .category-list-link:hover
  {
    border-bottom: 1px solid $body-color;
  }

  .post-nav-prev a:hover {
    border-bottom: none;
  }

  // Blog brand
  .brand {
    background-color: $input-bg;

    .site-title {
      color: $body-bg-color;
    }
  }

  // "Read More" button
  .post-button {
    .btn {
      color: $body-color;
      background-color: $bg-color;
    }

    .btn:hover {
      color: $bg-color;
      background-color: $body-color;
      border: 2px solid $bg-color;
    }
  }

  // Highlighted word/sentences in post
  .highlighter-rouge {
    color: $sub-body-color;
    background-color: $bg-color;
  }

  // code highlight
  .highlight {
    background-color: $bg-color;
  }

  .category-all-title {
    color: $sub-body-color;
  }

  .local-search-popup {
    background-color: $bg-color;
    
    .local-search-header {
      background: $search-bg;

      .local-search-input-wrapper {
        color: $input-bg
      }
    }
  }

  // buy me a coffee button
  .bmc-btn-container {
    a {
      color:white;
    }

    .bmc-btn {
      background-color: $buy-me-a-coffee-bg !important;
    }
  }
}