---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {% for item in site.data.categories %}
    {% assign item_url = item.href | append:"/" %}
    {% if item_url == page.url %}
    {% assign c = "active" %}
    {% else %}
    {% assign c = "" %}
    {% endif %}

    <div class="grid">
      <a href="{{ item.href | prepend: site.baseurl | prepend: site.url }}">
        <img src="{{ "/assets/images/" | append: item.image | prepend: site.baseurl | prepend: site.url }}"/>
        <p>{{ item.label }}</p>
      </a>
    </div>
    {% endfor %}
  </article>

</div>
